@font-face {
  font-family: 'Lato Thin';
  src: url('./fonts/Lato-Thin.ttf') format('truetype'),
       url('./fonts/Lato-Thin.woff2') format('woff2'),
       url('./fonts/Lato-Thin.woff') format('woff'),
       url('./fonts/Lato-Thin.svg#latothin') format('svg');
}

@font-face {
  font-family: 'Lato Light';
  src: url('./fonts/Lato-Light.ttf') format('truetype'),
       url('./fonts/Lato-Light.woff2') format('woff2'),
       url('./fonts/Lato-Light.woff') format('woff'),
       url('./fonts/Lato-Light.svg#latolight') format('svg');
}

$fa-font-path: '~@fortawesome/fontawesome-free/webfonts/';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';
@import '~@fortawesome/fontawesome-free/scss/brands';
@import '~@fortawesome/fontawesome-free/scss/regular';
@import '~@fortawesome/fontawesome-free/scss/solid';

$stretchly: #478484;
$primary: $stretchly;
$family-sans-serif: "Lato Light", sans-serif;
@import '~bulma';

body.darwin {
  font-family: 'Lato Thin';
}
